<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
     <nav>
       <ul >
         <li><a href="/">Introdução</a></li>
         <li><a href="/basics">Operações Básicas</a></li>
         <li> <a href="/formas">Formas do Número Complexo</a></li>
         <li><a href="/questions">Exercícios</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/signin">Cadastro</a></li>
       </ul>
     </nav>
</body>

</html>