<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>COMPLEX NUMBERS</title>
  <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<%- include('./partials/header') %>
<div id= "text">

  <main>
    <section>
      <h2>O que são Números Complexos?</h2>
      <p>Os números complexos são uma extensão dos números reais, incluindo um elemento imaginário <i>i</i>, que é definido como a raiz quadrada de -1.</p>
      <p>Na forma padrão, um número complexo é escrito como <strong>a + bi</strong>, onde <strong>a</strong> é a parte real e <strong>bi</strong> é a parte imaginária.</p>
      <p>Eles têm várias aplicações em matemática, física e engenharia, especialmente em problemas envolvendo equações diferenciais, circuitos elétricos e ondas.</p>
    </section>
  </main>
</div>
</body>

</html>            
